---
import Image from 'astro/components/Image.astro'
import Ghf from '../assets/images/orig.gif'
---

<div
	class='relative flex -space-x-1 overflow-hidden w-full h-[20rem] md:h-[calc(80vh-106px)] bg-gray-100 rounded-2xl dark:bg-neutral-800'
>
	<Image class='inline-block h-full ring-white' src={Ghf} alt='sdvsdvs' />
	<div class='z-30 absolute bottom-0 w-full h-full justify-center flex'>
		<div class='-z-10 absolute bottom-0 glass w-full min-h-full'></div>
		<div class='flex items-end w-full justify-items-start gap-x-1 text-white p-12'>
			<span class='pb-4'>лаывтьмдлвыамл</span>
		</div>
	</div>
</div>
