---
import HeroSlider from './HeroSlider.astro'
---

<div class='anim my-16 grid grid-cols-1 md:grid-cols-2 gap-4 content-stretch'>
	<div>
		<HeroSlider />
	</div>
	<div class='h-[20rem] md:h-[calc(80vh-106px)] grid grid-cols-2 gap-4 content-stretch'>
		<div class='bg-gray-300 rounded-2xl'>01</div>
		<div class='bg-gray-300 rounded-2xl'>02</div>
		<div class='bg-gray-300 rounded-2xl'>03</div>
		<div class='bg-gray-300 rounded-2xl'>03</div>
	</div>
</div>
