---
export interface Props {
	tag: string
}
const { tag } = Astro.props
---

<a href={`/tags/${tag.toLowerCase()}`} aria-label={tag}>
	<span
		class='bg-gradient-to-r from-fuchsia-900 to-teal-900 font-semibold text-white dark:from-fuchsia-950 dark:to-teal-950 dark:text-white shadow text-sm w-fit px-2 py-1 md:px-5 md:py-2 rounded-full'
	>
		{tag ?? 'Blog Tag'}
	</span>
</a>
