---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import { ViewTransitions } from 'astro:transitions'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />
		<ViewTransitions />
		<!-- Yandex.Metrika counter -->
		<script type='text/javascript'>
			;(function (m, e, t, r, i, k, a) {
				m[i] =
					m[i] ||
					function () {
						;(m[i].a = m[i].a || []).push(arguments)
					}
				m[i].l = 1 * new Date()
				for (var j = 0; j < document.scripts.length; j++) {
					if (document.scripts[j].src === r) {
						return
					}
				}
				;(k = e.createElement(t)),
					(a = e.getElementsByTagName(t)[0]),
					(k.async = 1),
					(k.src = r),
					a.parentNode.insertBefore(k, a)
			})(window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym')

			ym(98160842, 'init', {
				clickmap: true,
				trackLinks: true,
				accurateTrackBounce: true,
				webvisor: true
			})
		</script>
		<noscript
			><div>
				<img
					src='https://mc.yandex.ru/watch/98160842'
					style='position:absolute; left:-9999px;'
					alt=''
				/>
			</div></noscript
		>
		<!-- /Yandex.Metrika counter -->
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
		<main
			class='px-5 sm:mx-auto sm:px-8 lg:px-0 antialiased max-w-full xl:max-w-[90%] grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />
			<Footer />
		</main>
		<TwSizeIndicator />
		<!-- <style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style> -->
	</body>
</html>
